name: Build lexy-typescript

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.PAT_TOKEN }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        cd tests/lexy-language
        git pull
        git status
        ls

    - name: Build
      run: |
        yarn update-submodules
        yarn install
        yarn coverage
    
    - name: Create Coverage Badges
      uses: jaywcjlove/coverage-badges-cli@main
      with:
        style: flat
        source: coverage/coverage-summary.json
        output: coverage/badges.svg
        jsonPath: totals.percent_covered
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build
