name: Build lexy-typescript

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]      # , 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.PAT_TOKEN }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        yarn update-submodules
        yarn install
        tsc
        yarn coverage

    - run: npm i coverage-badges-cli -g
    - run: coverage-badges --output coverage/badges.svg
    
    - name: Deploy
      uses: exuanbo/actions-deploy-gist@v1
      with:
        token: ${{ secrets.GIST_AUTH_TOKEN }}
        gist_id: 9179085a171f9629b868662611e06fbd
        gist_file_name: badges.svg
        file_path: coverage/badges.svg